.title{
    color: #ff7200;
}
.css-test{
    color: red;
    background: url(../../assets/logo.png) no-repeat;
}
.home .nice{
    display: inline-block;
    padding: 15px;
    width: 500px;
    height: 300px;
    font-size: 0;
    border: 1px solid #ddd;
}
.home .nice li{
    display: inline-block;
    width: 25%;
    font-size: 14px;
}
.utils{
    display: inline-block;
    vertical-align: top;
}
.component {
    position: fixed;
    right: 0;
    top: 40px;
    padding: 20px;
    font-size: 14px;
}
.link{
    border: 1px solid #eee;
}
.link li{
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
}
.link a{
    color: #333;
}
.link a:hover{
    color: #ff7200;
}
