.functionBasedPropVal{
    position: relative;
}
.square{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ff7200;
}
.learn-css3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}
.learn-css3 .box{
    position: relative;
    width: 100%;
    border-bottom: 1px solid #eee;
}
.learn-css3 .box ul.flex-box {
    width: calc(100% - 500px);
    height: 300px;
}
.learn-css3 .box .flex-box li{
    margin: 5px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #eee;
}
.learn-css3 .box .show-css{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 400px;
    height: 170px;
    overflow: auto;
    font-size: 12px;
    color: #999;
}
.attr-list{
    position: absolute;
    display: inline-block;
    right: 10px;
    top: 20px;
    border: 1px solid #eee;
    background-color: rgba(255,255,255,0.2);
}
.attr-list .left{
    float: left;
    width: 200px;
    border-right: 1px solid #eee;
}
.attr-list .right{
    float: left;
    width: 200px;
}
.attr-list span{
    display: block;
    padding: 2px 8px;
    cursor: pointer;
}
.attr-list span:hover,.attr-list span.active{
    color: #ff7200;
}
.parent-box{
}
.child-boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    height: 200px;
}
.child-boxes .child-box{
    margin-bottom: 5px;
    padding: 10px;
    width: 100%;
    height: 50%;
    color: #666;
    border: 1px solid #ddd;
}
.reset{
    float: right;
    font-size: 14px;
}
.info{
    font-size: 12px;
    color: #666;
}
.btns{
    margin-bottom: 10px;
}
.files {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.image-box {
    position: relative;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}
.image-box img{
    width: 100%;
    height: 100%;
}
.image-box .file{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}
.files .images-info{
    height: 40px;
    font-size: 12px;
    color: #666;
}
.timemsg{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}
.timemsg span{
    padding: 3px 6px;
    border-radius: 2px;
    border: 1px solid #ddd;
}
.logs p{
    font-size: 12px;
    color: #666;
}
.learn-modules .btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}
.learn-modules .btns a{
    margin-right: 5px;
    margin-bottom: 5px;
}
.object-box .logs{
    max-height: 120px;
    overflow: auto;
}