.time-box{
    display: inline-block;
    margin-bottom: 30px;
    vertical-align: top;
}
.move-enter-active,.move-leave-active{
    transition: 0.5s;
    opacity: 1;
}
.move-enter, .move-leave-active{
    transition: 0.5s;
    opacity: 0;
}
.move-enter-active {
    animation-name: fold-in;
    animation-duration: .5s;
}
.move-leave-active {
    animation-name: fold-out;
    animation-duration: .5s;
}
@keyframes fold-in {
    0% {
        transform: translate3d(0, 100%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes fold-out {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, 100%, 0);
    }
}